<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>online-book-store</display-name>
  <welcome-file-list>
    <welcome-file>/c/home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ViewHome</servlet-name>
    <jsp-file>/c/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHome</servlet-name>
    <url-pattern>/c/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterPage</servlet-name>
    <jsp-file>/c/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPage</servlet-name>
    <url-pattern>/c/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <jsp-file>/c/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/c/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSignOut</servlet-name>
    <jsp-file>/errors/admin-sign-out.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSignOut</servlet-name>
    <url-pattern>/errors/admin-sign-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Account</servlet-name>
    <jsp-file>/c/account.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/c/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCart</servlet-name>
    <jsp-file>/c/shopping-cart.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/c/shopping-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewBookDetails</servlet-name>
    <jsp-file>/book/book-details.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBookDetails</servlet-name>
    <url-pattern>/book/book-details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckOut</servlet-name>
    <jsp-file>/c/checkout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/c/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminWelcomePage</servlet-name>
    <jsp-file>/admin/admin-home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminWelcomePage</servlet-name>
    <url-pattern>/admin/admin-home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBooksPage</servlet-name>
    <jsp-file>/admin/admin-add-books.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBooksPage</servlet-name>
    <url-pattern>/admin/admin-add-books</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewUsers</servlet-name>
    <jsp-file>/admin/admin-view-users.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUsers</servlet-name>
    <url-pattern>/admin/admin-view-users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewSales</servlet-name>
    <jsp-file>/admin/admin-sales.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSales</servlet-name>
    <url-pattern>/admin/admin-sales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPayments</servlet-name>
    <jsp-file>/admin/admin-payments.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPayments</servlet-name>
    <url-pattern>/admin/admin-payments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewStock</servlet-name>
    <jsp-file>/admin/admin-stock.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStock</servlet-name>
    <url-pattern>/admin/admin-stock</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAccount</servlet-name>
    <jsp-file>/admin/admin-account.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAccount</servlet-name>
    <url-pattern>/admin/admin-account</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.onlinebookstore.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/admin/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <jsp-file>/password/change-password.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/password/change-password</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>BookRecomm</servlet-name>
    <jsp-file>/c/book-recommendations.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookRecomm</servlet-name>
    <url-pattern>/c/book-recommendations</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/errors/404.jsp</location>
  </error-page>
</web-app>